.myAccount {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #e1e5eb;
  padding:  2em 0em 2em 0em;


  &__card {
    max-width: 400px;
    min-width: 400px;
    justify-content: center;
  }
}
