@use '../../styles/variables' as v;

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &__form {
    display: flex;
    justify-content: center;
    padding: 20px;
        }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .contact {
   display: flex;
    flex-direction: column;
    justify-content: center;
    }
    &__form {
      display: flex;
      justify-content: center;
      padding: 20px;
          }
}
