@use '../../styles/variables' as v;

h1 {
  color: v.$color;
  width: 90%;
  font-size: 2rem;
  text-align: center;
  margin: 1em;
}

.slogan {
  // text-shadow: 2px 2px 5px #000;
  margin-bottom: 1em;
  max-width: 80vw;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1 {
    color: v.$color;
    width: 60%;
    font-size: 3.2rem;
    text-align: center;
    margin: auto;
    // padding: 20px;
  }

  .slogan {
    max-width: 50vw;
  }
}
